# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
#eth-ipfs/node_modules
#eth-ipfs-service/node_modules
#my-eth-ipfs/node_modules
node_modules/

# testing
/coverage

# production
#eth-ipfs/build
#eth-ipfs-service/download
build/
download/

# misc
*.vscode
*.git*

