.Topics-header {
    text-align: center;

    margin:auto;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

.table {
      max-width: 90%;
      margin: 10px;
}

.table th,td {
    text-align: center;
}


/*end of my css*/
@keyframes Home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
